<html>
	<head>
		<title>Input names</title>
	</head>
	<body>
		{% if error_message %}
			<p> {{error_message }} </p>
		{% endif %}  
		<a href="{% url 'analizer:list' %}"> to to </a>
		<p> wtf? </p>
		{% comment %}
		<form action="{% url 'analizer:list' %}" method="post">
			{% csrf_token %}
			<textarea name="names" rows="10" cols="70"></textarea><br/>
			<input type="submit" name="send_button" value="pilots">
			<input type="submit" name="send_button" value="corps">
			<input type="submit" name="send_button" value="ally">
		</form> {% endcomment %}
		<!-- <p>This is a test.</p> -->
	</body>
</html>