<html>
	<head>
		<title>{{pilot.pilot_name}}</title>
	</head>
	<body>
		{% if error_message %}
			<p> {{error_message }} </p>
		{% endif %}  
		
		<p> wtf4? </p>
		<p> kills: {{pilot.number_kills}} 
			loss: {{pilot.number_loss}} 
			last kill: {{pilot.last_kill_time}}
		</p>
		<p> {{pilot.pilot_id}} {{pilot.pilot_name}} </p>
		<h4> Time Slice </h4>
		<table><tr>
		{% for i in time_slice%}
			<td> {{i.hour}}h {{i.kills}} kills ; </td>
		{% endfor %}
		</tr></table>
		<h4> Mates </h4>
		<table>
		{% for i in mates %}
			<tr>
				<td><a href="{% url 'analizer:pilot_detail' i.pilot_id %}">{{i.pilot_name}}</a></td>
				<td>{{i.kills}}</td>
				<td><a href="{% url 'analizer:corp_detail' i.corp_id %}">{{i.corp_name}}</a></td>
			</tr>
		{% endfor %}
		</table>
		{% if mates_pages.prev %}
			<a href="{% url 'analizer:pilot_detail' mates_pages.pilot %}?mate_page={{mates_pages.prev}}"> prev </a>
		{% endif %}
		{% if mates_pages.next %}
			<a href="{% url 'analizer:pilot_detail' mates_pages.pilot %}?mate_page={{mates_pages.next}}"> next </a>
		{% endif %}
		
		<h4> Kill groups </h4>
		<table>
			<tr>
				<td> solo </td>
				<td> 2-5 </td>
				<td> 6-15 </td>
				<td> 16-35 </td>
				<td> blob </td>
			</tr>
			<tr>
				<td>{{number_mates.solo}}</td>
				<td>{{number_mates.5}}</td>
				<td>{{number_mates.15}}</td>
				<td>{{number_mates.35}}</td>
				<td>{{number_mates.blob}}</td>
			</tr>
		</table>
		
		<table>
		{% for i in victim_list %}
			<tr> 
				<td><a href="{% url 'analizer:pilot_detail' i.pilot_id %}">{{i.pilot_name}}</a></td>
				<td> {{i.corp_name}} </td> 
				<td> {{i.ship_type}} </td>
				<td> {{i.kill_time}} </td>
			</tr>
		{% endfor %}
		</table>


	</body>
</html>