<html>
	<head>
		<title>{{pilot.name}}</title>
	</head>
	<body>
		{% if error_message %}
			<p> {{error_message }} </p>
		{% endif %}  
		
		<p> wtf2? </p>
		<p> kills: {{pilot.number_kills}} 
			loss: {{pilot.number_loss}} 
			last kill: {{pilot.last_kill_time}}
		</p>
		<p> {{pilot.id}} {{pilot.name}} </p>
		<table>
		{% for i in victim_list %}
			<tr> 
				<td><a href="{% url 'analizer:pilot_detail' i.pilot_id %}">{{i.pilot_name}}</a></td>
				<td> {{i.corp_name}} </td> 
				<td> {{i.ship_type}} </td>
				<td> {{i.kill_time}} </td>
			</tr>
		{% endfor %}
		</table>


	</body>
</html>